<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">About<br>
                <strong>Henslee's Plumbing Heating and Air</strong>
                </h2>
                <hr>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border-left" src="images/smile.jpg" alt="">
            </div>
            <div class="col-md-6">
                <div>
                    <h2 class="title1">Commercial and Residential</h2>
                    <h3 class="title1">New installations and repair</h3>
                    <hr>
                    <p class="title1">From new installation to emergencies, Henslee's Plumbing, Heating and Air has you covered. Henslee's
                        is licensed, insured and bonded, so you know you are getting quality service. We are family owned
                        and operated. We have a 100% guarantee on all of our work, so you don't have to worry! Call us for
                        all your plumbing, heating and air needs.</p>
                    <hr>
                </div>
            </div>
            <hr>
            <div class="titleR">
                <h3>  Reasons to choose Henslee's Plumbing, Heating and Air</h3>
            </div>
            <hr>
            <div class="reasons">
                <p>We use FlashShield and hard pipe for quality assurance</p>
                <p> Licensed, Insured, and Bonded. OK# 63615</p>
                <p>Friendly professional service every time</p>
                <p>Trane authorized dealer</p>
                <p>100% Guarantee</p>
            </div>
        </div>
    </div>
</div>