<md-subheader class="md-no-sticky" style="font-size:20px; color: black;">     Feel free to Send us an Email below or just pick up the phone and Call us today! (405) 601-1114</md-subheader>
       <div class="contact">
           <div flex layout="row" layout-align="center center">
           <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2">
                <md-content class="md-padding">
                    <div flex-sm="100" flex-gt-sm="80" layout-sm="column">
            <form name="contactForm" data-ng-submit="cf.sendMail()">
                <md-input-container>
                    <label>Name:</label>
                        <input type="text" data-ng-model="cf.contactName" aria-label="name">
                </md-input-container>
                <md-input-container>
                    <label>Email:</label>
                    <input type="email" data-ng-model="cf.contactEmail">
                </md-input-container>
                <md-input-container>
                    <label>Message:</label>
                    <textarea data-ng-model="cf.contactMsg" columns="1" required></textarea>
                </md-input-container>
                <md-button type="submit" class="md-primary" ng-class="{'md-raised md-hue-1':(contactForm.$dirty && contactForm.$valid)}">Send</md-button>
            </form>
        </md-content><br>
    </div>
</div>
</div>
       