body {
    margin-top: 70px;
}
.navbar-inverse {
    /* configure the color of your navigation bar's background, border and fonts here */
}

.top{
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: yellow;
    height:50px;
};

